@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Khula';
  src:local('Khula') url('./fonts/Khula-Light.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'Khula';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
